html{
    scroll-behavior: smooth;
}
.ZEGAR{
    background-color: rgb(18, 78, 146);
    box-sizing: content-box;
    display: flex;
    border-radius: 10%;
    font-size: 36px;
}
.h{
    align-content: center;
    display: flex;
    justify-content: center;
}
h1 {
    background-color: rgb(185, 180, 199);
    box-sizing: content-box;
    display: flex;
    border-radius: 10%;
    font-size: 36px;


}
h2{
    text-align: center;
    background-color: rgb(92, 84, 112);
    color: azure;
}
h3{
    text-align: center;
    background-color: rgb(53, 47, 68);
    border-radius: 20px;
    color: azure;
}
li{
   font-size: larger; 
   height: 30px;
}
img{
    border-radius: 1%;
    width: clamp(400px, 40%, 600px); 
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    align-self: unset;
    max-block-size: 420px;
    align-content: center;
    display: flex;
    justify-content: center;
    flex: ;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(185, 180, 199);
    text-align: center;
    color: #3d2a6e;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}
p{
    font-size: 120%;
    font-weight: bold;
    display: inline;
    
}
.aligned {
    display: flex;
    align-items: center;
    justify-content: left;
}
  
span {
    padding: 10px;
    text-align: left;
}
#row{
    flex-direction: row;
}
#l{
 float: left;
 width: 33%;
}
#m{
float: left;
width: 34%;
}
#r{
float: right;
width: 33%;
}
#mm{
    float: right;
    width: 50%;
    }
    html{
        background-color: rgb(185, 180, 199);
    }